{% extends 'base.html' %}


{% block content %}
    
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">FireBase Users Posts</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>Users Posts List</h5>
        
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User Name</th>
                            <th>Post Title</th>
                            <th>Post Video</th>
                            <th>View Details</th>
                            
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in data %}
                          <tr>
                              <td>{{post.id}}</td>
                              <td>{{post.name}}</td>
                              <td>{{post.title}}</td>
                              <td><a href="{{post.videourl}}" target="_blank"><img src="{{post.thumburl}}" width="50px" height="50"></a></td>
                              <td>
                                  <a href="{% url 'postview' post.docid %}">
                                    <button class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></button>
                                </a>
                         
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletepost{{post.docid}}"><i class="fas fa-trash"></i></button>
                    
                        </td>
                          </tr>



                          <div class="modal fade" id="deletepost{{post.docid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Post</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{% url 'postdelete' %}" method="POST">
                                   {% csrf_token %}
                                <div class="modal-body">
                                  are your to delete this post ?
                                  <input type="hidden" value="{{ post.docid}}" name="postdeleteid">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </form>
                              </div>
                            </div>
                          </div>

                        {% endfor %}
                        
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    